<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>


<header>

	<div class="container">
		<div class="logo_container">
			<a href="/"><img src="/images/logo.png" alt="terrible" id="logo" data-height-percentage="100" data-actual-width="324" data-actual-height="440"></a>
		</div>
	
		<div class="menu-btn">
			<span></span>
			<span></span>
			<span></span>
		</div>
		{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
	
	{{ partial "social" . }}
		
	</div>
	
	{{  partials "breadcrumb" . }}
	
	
	
		{{ block "header" . }}
	
		{{ end }}
	</header>


<article>

	<h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1>
{{ block "main" . }}
{{ .Content }}
{{ end }}
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
</article>

{{ block "footer" . }}
<footer>

	{{ os.ReadFile "content/footer.md" | markdownify }}	
	
</footer>
{{ end }}
<script>
	let menuBtn = document.querySelector('.menu-btn');
	let menu = document.querySelector('.menu');

	menuBtn.addEventListener('click', function () {
		menuBtn.classList.toggle('active');
		menu.classList.toggle('active');
	})
	
</script>
</body>
</html>
