{{ define "main" }}
    {{ $data := .Data }}
  <article class="rugo layout terms cf pa3 pa4-m pa4-l">
    <!-- terms.html -->
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
      {{ .Content }}
    </div>
  <div class="mw8 center">
    <ul class="list pl0">
    {{ range .Data.Pages }}
    <li>
      <a href="{{.RelPermalink}}">{{ .LinkTitle }}</a> {{/* .Title */}} {{/* $.Data.Singular | humanize */}}
    </li>
    {{ end }}
    </ul>
  </div>
  </article>
{{ end }}
