{{ $currentPage := . }}
<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-black no-underline black-90 dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-l items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="menu  flex-l items-center pl0 mr3 ">
          {{ range .Site.Menus.main }}
          <li class="menu-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}  list f5 f4-ns fw4 dib pr3 pa2">
            <a class=" hover-black no-underline black-90" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ if .Pre }}{{ partial "fa.html"  .Pre  }}{{ end }}
              <span>{{ .Name }}</span>
              {{ if .Post }}{{ partial "fa.html"  .Post  }}{{ end }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
<nav>
      {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
              <ul class="sub-menu  {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }} {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  {{ range .Children }}
                      <li class="sub-menu-item pa2 {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                          <a href="{{ .URL }}" class="hover-black no-underline black-90" >
                            {{ if .Pre }}{{ partial "fa.html"  .Pre  }}{{ end }}
                            <span>{{ .Name }}</span>
                            {{ if .Post }}{{ partial "fa.html"  .Post  }}{{ end }}

                          </a>
                      </li>
                  {{ end }}
          {{ end }}
      {{ end }}
  </ul>
</nav>