/*
Karoline
#000000 Black
#3B3B3E Dark grey
#4D4D4D Charcoal grey
#6A7D73 Grey
#8CA7BA Bluey grey
#B2B2B2 Silver
#B6605F Dirty pink
#B7C768 Light olive
#C7A868 Tan
#DDA99A Pinkish tan
#F8F9E7 Off white
#FFFFFF White

TERRIBLE II
#1C1C1C Almostblack
#333333 Darkgrey
#3E3E41 grey
#413D0E Darkolive
#668000 Olivegreen
#958125 Hazel
#9F9A64 Darkkhaki
#AEA844 Shitgreen
#DDC160 Sandy
#EAE9DD Lightgrey
#E5D7B7 Pale
#F8F9E7 Offwhite

*/


:root {
	--bg-color: #413D0E;
	/*Darkolive*/
	--header-bcolor: #AEA844;
	/* Shitgreen*/
	--footer-bcolor: #E5D7B7;
	/* Pale*/
	--article-bcolor: #EAE9DD;
	/* Lightgrey*/
	--text-color-dark: #1C1C1C;
	/* Almostblack */
	--text-color-dark-1: #333333;
	/*Darkgrey*/
	--text-color-dark-2: #3E3E41;
	/* grey */

	--link-color: #668000;
	/* Olivegreen */
	--link-visited-color: #668000;
	/* Olivegreen */
	--link-hover-color: #413D0E;
	/*Darkolive*/

	--failure-color: #B6605F;
	/*Dirty pink*/
	--success-color: #8CA7BA;
	/*Bluey grey*/

	--md-hint-info-color: #8CA7BA;
	/*Bluey grey*/
	--md-hint-warning-color: #C7A868;
	/*Tan*/
	--md-hint-danger-color: #B6605F;
	/*Dirty pink*/
	--md-hint-normal: #B2B2B2;
	/* Silver */

	--md-bg-color-light: #f8f9fa;
	--md-bg-color-dark: #e9ecef;


	--twitter-blue: #55acee;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Roboto', "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
	--font-family-monospace: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--mobile-breakpoint: 800px
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

li {
	list-style-position: inside;
	text-align: start½;
}


a {
	color: var(--link-color);
	text-decoration: none;
}

#tagcloud {
	list-style: none;
	text-align: center;
	padding: 0;
}

#tagcloud li {
	display: inline-block;
}

#tagcloud a {
	margin: .1em .25em;
}

a:visited {
	color: var(--link-visited-color);
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}

h1 {
	color: var(--bg-color);
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

#ingredienser,
#ingredients {
	margin-top: 0;
}

h2 {
	color: var(--text-color-dark-1);
	text-align: left;
	margin: 1rem;

}

h3 {
	color: var(--bg-color);
	text-align: start;
	margin-bottom: 1rem;
}

h4 {
	color: var(--text-color-light);
	text-align: start;

}

p {
	font-size: 1rem;
	line-height: 1.5rem;
}


img {
	max-width: 90%;
	max-height: 400px;
	margin: auto;
	display: block;
	margin: 0;
}



hr {
	border-color: transparent;	
	margin: 1rem;
}

.taglist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.8rem;

}

.taglist li {
	align-items: center;
}


#socials {
	position: absolute;
	right: 2vw;
	font-size: 2rem;
	top: 5px;
}


@media (pointer: coarse) {
	li>a {
		display: inline-block;
		padding: 0.2em 0;
	}
}

@media print {
	a[href] {
		text-decoration: none;
		color: black;
	}

	footer,
	.taglist {
		display: none;
	}

	body {
		margin: 0;
	}


}



.hidden {
	display: none !important;
}

#articleList {
	font-size: large;
}

#articleList li {
	padding: .25em;
	list-style: none;
}

@media (min-width: 55em) {
	#articleList {
		column-count: 2;
	}
}

@media (min-width: 100em) {
	#articleList {
		column-count: 3;
	}
}







.qr {
	max-height: 150px;
	;
}



/*breadcrumb */
.breadcrumb {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 0;
	margin: 0;
}


.breadcrumb li {
	display: inline;
	white-space: nowrap;
}

.breadcrumb li+li:before {
	content: ">";
	padding: 0.3rem;
}




/* columns */
.md-columns {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;
}

.md-columns div {
	flex: 1 1;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	min-width: 25rem;
}



/* tabs */
.md-tabs {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 1px solid white;
	border-radius: 1em;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}

.md-tabs-label {
	display: inline-block;
	padding: 0.5rem 1rem;
	border-bottom: 1px transparent;
	cursor: pointer;
	background-color: grey;
}

.md-tabs-content {
	order: 999;
	width: 100%;
	border-top: 1px solid var(--md-bg-color-light);
	padding: 1rem;
	display: none;
}

.md-tabs input[type="radio"]:checked+label {
	border-bottom: 1px solid var(--link-color);
}

.md-tabs input[type="radio"]:checked+label+.md-tabs-content {
	display: block;
}


/* hint */

.info {
	border-left-color: rgba(var(--md-hint-info-color), 1);
	background-color: rgba(var(--md-hint-info-color), 0.25);
}

.warning {

	border-left-color: var(--md-hint-warning-color);
	background-color: var(--md-hint-warning-color);

}

.danger {
	border-left-color: rgba(var(--md-hint-danger-color), 1);
	background-color: var(--md-hint-danger-color);
}

.normal {
	border-left-color: rgba(var(--md-hint-normal), 1);
	background-color: rgba(var(--md-hint-normal), 0.05);
}


/*menu*/


header .container {
	margin-left: 5%;
}

.logo_container {
	position: absolute;
	height: 100%;
	width: 100%;
}

#breadcrumb {
	margin-left: 250px;
}

.menu-btn {
	/* Burger icon */
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 2;
	overflow: hidden;
	padding: 1em;
	left: 250px;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Changing the hamburger icon when the menu is open */
.menu-btn.active span:nth-of-type(1) {
	display: none;
}

.menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
}

/* Menu */


.menu.active {
	display: block;
}

.menu-item.active {
	/* background-color: rgba(255, 255, 255, 0.532); */
}

.menu-item.active a::after {
	content: '   ';
    border-bottom: 2px dotted var(--link-visited-color);
	display: block;
	position: relative;
	bottom: -2px;
	left: 50%;
	width: 40px;
	margin-left: -20px;
}



.sub-menu {
	display: none;
}

.sub-menu-item.active {
	background-color: rgba(255, 255, 255, 0.532);
}

.sub-menu.active {
	display: flex;
	justify-content: space-evenly;
}

.sub-menu.active,
.sub-menu a.active {
	background-color: rgba(232, 234, 230, 0.156);
}

.menu li,
.sub-menu li {
	list-style-type: none;
}

/* hero */

.hero {
	background-color: #55acee;
	background-image: url(./images/22.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: normal;
	color: white;
	padding-top: 100px;
	padding-bottom: 100px;

}

.hero-container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* TABLE */
table {
	margin-bottom: 24px;
	border-spacing: 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-family: "Courier New";
	padding: 0;
}

table th {
	padding: 3px 10px;
	background-color: lightgrey;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
}

table td {
	padding: 3px 10px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-right: none;
}

table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 2px 6px;
	vertical-align: top;
}

table tr th :first-child,
table tr td :first-child {
	margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
	margin-bottom: 0;
}

/* ICON */

#lang_da:before {
	content: "🇩🇰";
}

#lang_en:before {
	content: "🇬🇧";
}


/* IMAGES FOR MARDOWN */

img[title=banner] {
	float: none;
	margin: auto;
}

img[title^="none"] {
	float: none;
	margin: unset
}

img[title^="left"] {
	float: left;
	margin-bottom: unset;
	padding-right: 2rem;
	margin-top: unset;
}

img[title^="center"] {
	float: none;
	margin: unset;
}

img[title$="h25"] {
	height: calc(25rem * 0.5);
}

img[title$="h15"] {
	height: calc(15rem * 0.5);
}

img[title$="h10"] {
	height: calc(10rem * 0.5);
}

img[title$="h8"] {
	height: calc(8rem * 0.5);
}

img[title$="h6"] {
	height: calc(6rem * 0.5);
}

img[title$="h4"] {
	height: calc(4rem * 0.5);
}

img[title$="h2"] {
	height: calc(2rem * 0.5);
}

img[title$="h1"] {
	height: calc(1rem * 0.5);
}


.inline-svg {
	display: inline-block;
	height: 1.15rem;
	width: 1.15rem;
	top: 0.15rem;
	position: relative;
}

/* TABLEOFCONTENTS */

#TableOfContents ul li {
	margin: 0;
	padding: 0;
}

.nested-links a {
	text-transform: lowercase;
}


@media print {

	aside,
	header,
	footer,
	.taglist {
		display: none
	}

	hr {
		page-break-before: always;
	}
}