:root {
    --bg-color: #343a40;
	--text-color: rgb(32, 32, 32);
    --primary-color: rgb(150, 150, 140);
	--secondary-color: rgb(115, 133, 176) ;  
    --font-color: #292929;
    --font-color-light: #646464;
    --font-color-muted: lightgray;
    --link-color: #646464;
    --link-visited-color: #646464;
    --link-hover-color: #484848;
    --md-hint-info-color: 102, 187, 255;
    --md-hint-warning-color: 255, 221, 102;
    --md-hint-danger-color: 255, 102, 102;
    --md-hint-normal: 91, 93, 94;
    --md-bg-color-light: #f8f9fa;
    --md-bg-color-dark: #e9ecef;
    --success-color: #36B37E;
    --failure-color: #FF5630;
    --twitter-blue: #55acee;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Roboto', "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
    --font-family-monospace: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --mobile-breakpoint: 800px
}

body {
	background:var(--bg-color);
	color: var(--text-color);
	max-width: 1200px;
	margin: auto;
	padding: 0 16px;
	margin-bottom: 500px;
	scrollbar-color: gray #151515;
	font-family: sans-serif;
}

::-webkit-scrollbar {
	width: .66vw;
	background-color: #151515;
}

::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 5px;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

#tagcloud {
	list-style: none;
	text-align: center;
	padding: 0;
}

#tagcloud li {
	display: inline-block;
}

#tagcloud a {
	margin: .1em .25em;
}

a:visited {
	color: var(--link-visited-color);
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}

h1 {
	color: var(--font-color);
	text-align: center;
}

h2 {
	color: var(--font-color-muted);
	text-align: center;
}

h3 {
	color: var(--font-color);
	text-align: start;
}

h4 {
	color: var(--font-color-light);
	text-align: start;
}
article {
	text-align: left;
	padding: 1em;
	background-color:var(--secondary-color);
}

nav,
footer {
	text-align: left;
	padding: 1em;
	background-color: var(--primary-color);
}

img {
	max-width: 90%;
	max-height: 400px;
	margin: auto;
	display: block;
}

code {
	overflow-wrap: break-word;
	color: lime;
}

.taglist {
	text-align: center;
	margin-bottom: 2em;
	margin-top: 2em;
}



@media (pointer: coarse) {
	li>a {
		display: inline-block;
		padding: 0.2em 0;
	}
}

@media print {
	a[href] {
		text-decoration: none;
		color: black;
	}

	footer,
	.taglist {
		display: none;
	}

	body {
		margin: 0;
	}


}

.older-article {
	display: none;
}

.hidden {
	display: none !important;
}

#artlist {
	font-size: large;
}

#artlist li {
	padding: .25em;
}

@media (min-width: 55em) {
	#artlist {
		column-count: 2;
	}
}

@media (min-width: 100em) {
	#artlist {
		column-count: 3;
	}
}


input#search {
	all: unset;
	background: #222;
	color: #fff;
	padding: 0.7rem 1rem;
	border-radius: 5px;
	width: 100%;
}

.search {
	width: 400px;
	max-width: 85vw;
	position: relative;
	margin: 0.5rem auto 1.2rem;
	display: flex;
}

button#clear-search {
	all: unset;
	position: absolute;
	right: 4px;
	top: 5px;
	height: 30px;
	width: 30px;
	color: #888;
	cursor: pointer;
	transition: color 180ms ease-in-out;
}

button#clear-search:hover {
	color: #eee;
}


.matched-recipe {
	font-size: x-large;
	display: list-item !important;
}

.list-searched {
	column-count: 1 !important;
	list-style: decimal;
	max-width: 600px;
	margin: auto;
}

#tag_alcohol:before {
	content: "🍸";
}

#tag_american:before {
	content: "🇺🇸";
}

#tag_argentinian:before {
	content: "🇦🇷";
}

#tag_asian:before {
	content: "🥢";
}

#tag_australian:before {
	content: "🇦🇺";
}

#tag_austrian:before {
	content: "🇦🇹";
}

#tag_bacon:before {
	content: "🥓";
}

#tag_beans:before {
	content: "🫘";
}

#tag_beef:before {
	content: "🐄";
}

#tag_belgian:before {
	content: "🇧🇪";
}

#tag_brazilian:before {
	content: "🇧🇷";
}

#tag_bread:before {
	content: "🍞";
}

#tag_breakfast:before {
	content: "🌅";
}

#tag_broccoli:before {
	content: "🥦";
}

#tag_cake:before {
	content: "🍰";
}

#tag_cheese:before {
	content: "🧀";
}

#tag_chicken:before {
	content: "🐔";
}

#tag_chinese:before {
	content: "🐉";
}

#tag_chocolate:before {
	content: "🍫";
}

#tag_cookies:before {
	content: "🍪";
}

#tag_corn:before {
	content: "🌽";
}

#tag_curry:before {
	content: "🍛";
}

#tag_dessert:before {
	content: "🍮";
}

#tag_dominican:before {
	content: "🇩🇴";
}

#tag_drink:before {
	content: "🍹";
}

#tag_duck:before {
	content: "🦆";
}

#tag_dumpling:before {
	content: "🥟";
}

#tag_dutch:before {
	content: "🇳🇱";
}

#tag_easter:before {
	content: "✝️";
}

#tag_eggs:before {
	content: "🥚";
}

#tag_english:before {
	content: "🏴󠁧󠁢󠁥󠁮󠁧󠁿";
}

#tag_fasting:before {
	content: "☦️";
}

#tag_filipino:before {
	content: "🇵🇭";
}

#tag_fish:before {
	content: "🐟";
}

#tag_french:before {
	content: "🇫🇷";
}

#tag_fruit:before {
	content: "🍇";
}

#tag_german:before {
	content: "🇩🇪";
}

#tag_greek:before {
	content: "🇬🇷";
}

#tag_indian:before {
	content: "🇮🇳";
}

#tag_irish:before {
	content: "🇮🇪";
}

#tag_israeli:before {
	content: "🇮🇱";
}

#tag_italian:before {
	content: "🇮🇹";
}

#tag_japanese:before {
	content: "🇯🇵";
}

#tag_lebanese:before {
	content: "🇱🇧";
}

#tag_lemons:before {
	content: "🍋";
}

#tag_liquour:before {
	content: "🥃";
}

#tag_lunch:before {
	content: "🍱";
}

#tag_mediterranean:before {
	content: "🫒";
}

#tag_mexican:before {
	content: "🇲🇽";
}

#tag_milk:before {
	content: "🥛";
}

#tag_mushrooms:before {
	content: "🍄";
}

#tag_pancake:before {
	content: "🥞";
}

#tag_pasta:before {
	content: "🍝";
}

#tag_pastry:before {
	content: "🧁";
}

#tag_peruvian:before {
	content: "🇵🇪";
}

#tag_pie:before {
	content: "🥧";
}

#tag_pizza:before {
	content: "🍕";
}

#tag_polish:before {
	content: "🇵🇱";
}

#tag_pork:before {
	content: "🐖";
}

#tag_portuguese:before {
	content: "🇵🇹";
}

#tag_potato:before {
	content: "🥔";
}

#tag_quebec:before {
	content: "⚜️";
}

#tag_quick:before {
	content: "🏃";
}

#tag_raw:before {
	content: "🍖";
}

#tag_rice:before {
	content: "🍚";
}

#tag_russian:before {
	content: "🇷🇺";
}

#tag_salad:before {
	content: "🥗";
}

#tag_sandwich:before {
	content: "🥪";
}

#tag_seafood:before {
	content: "🦐";
}

#tag_soup:before {
	content: "🍜";
}

#tag_sourdough:before {
	content: "🥖";
}

#tag_southwest:before {
	content: "🤠";
}

#tag_spanish:before {
	content: "🇪🇸";
}

#tag_spice:before {
	content: "🧂";
}

#tag_spicy:before {
	content: "🌶️";
}

#tag_spread:before {
	content: "🧈";
}

#tag_steak:before {
	content: "🥩";
}

#tag_stew:before {
	content: "🍲";
}

#tag_swedish:before {
	content: "🇸🇪";
}

#tag_sweet:before {
	content: "🍯";
}

#tag_swiss:before {
	content: "🇨🇭";
}

#tag_thai:before {
	content: "🇹🇭";
}

#tag_tomato:before {
	content: "🍅";
}

#tag_turkey:before {
	content: "🦃";
}

#tag_turkish:before {
	content: "🇹🇷";
}

#tag_ukrainian:before {
	content: "🇺🇦";
}

#tag_vietnamese:before {
	content: "🇻🇳";
}

#tag_wine:before {
	content: "🍷";
}

#tag_danish:before {
	content: "🇩🇰";
}

.cryptocontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cryptoinfo {
	max-width: 350px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.cryptoinfo code {
	font-size: small;
	overflow-wrap: break-word;
}

.qr {
	max-height: 150px;
	;
}

.js-only {
	display: none;
}

/*breadcrumb */
.breadcrumb {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 0;
	margin: 0;
}


.breadcrumb li {
	display: inline;
	white-space: nowrap;
}

.breadcrumb li+li:before {
	content: ">";
	padding: 0.3rem;
}




/* nav

nav {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
	position: fixed;
	width: 100%;
	z-index: 3;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

nav li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
}

nav li a:hover,
nav .menu-btn:hover {
	background-color: #f4f4f4;
}

nav.logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
}
 */

/* menu

nav .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}



nav .menu-icon {
	cursor: pointer;
	display: inline-block;

	padding: 28px 20px;
	position: relative;
	user-select: none;
}

nav .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

nav .menu-icon .navicon:before {
	top: 5px;
}

nav .menu-icon .navicon:after {
	top: -5px;
}



nav .menu-btn {
	display: none;
}

nav .menu-btn:checked~.menu {
	max-height: 240px;
}

nav .menu-btn:checked~.menu-icon .navicon {
	background: transparent;
}

nav .menu-btn:checked~.menu-icon .navicon:before {
	transform: rotate(-45deg);
}

nav .menu-btn:checked~.menu-icon .navicon:after {
	transform: rotate(45deg);
}

nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
	top: 0;
}
*/

/* columns */
.md-columns {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;
}

.md-columns div {
	flex: 1 1;
	margin: 1rem 0;
	min-width: 100px;
	max-width: 100%;
	padding: 0 1rem;
}

.markdown-inner {
	margin-top: 0;
	margin-bottom: 0;
}

/* tabs */
.md-tabs {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 1px solid white;
	border-radius: 1em;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}

.md-tabs-label {
	display: inline-block;
	padding: 0.5rem 1rem;
	border-bottom: 1px transparent;
	cursor: pointer;
	background-color: grey;
}

.md-tabs-content {
	order: 999;
	width: 100%;
	border-top: 1px solid var(--md-bg-color-light);
	padding: 1rem;
	display: none;
}

.md-tabs input[type="radio"]:checked+label {
	border-bottom: 1px solid var(--link-color);
}

.md-tabs input[type="radio"]:checked+label+.md-tabs-content {
	display: block;
}


/* hint */

.md-hint.info {
	  border-left-color: rgba(var(--md-hint-info-color), 1);
	  background-color: rgba(var(--md-hint-info-color), 0.25);
	}
  
	.md-hint.warning {
	  border-left-color: rgba(var(--md-hint-warning-color), 1);
	  background-color: rgba(var(--md-hint-warning-color), 0.25);
	}
  
	.md-hint.danger {
	  border-left-color: rgba(var(--md-hint-danger-color), 1);
	  background-color: rgba(var(--md-hint-danger-color), 0.25);
	}
  
	.md-hint.normal {
	  border-left-color: rgba(var(--md-hint-normal), 1);
	  background-color: rgba(var(--md-hint-normal), 0.05);
	}


	/*menu*/
	header {
		display: flex;
		justify-content: flex-start;
	}
	
	
	/* Burger icon */
	.menu-btn {
		width: 30px;
		height: 30px;
		position: relative;
		z-index:2;
		overflow: hidden;
	}
	
	.menu-btn span {
		width: 30px;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #222222;
		transition: all 0.5s;
	}
	
	.menu-btn span:nth-of-type(2) {
		top: calc(50% - 5px);
	}
	.menu-btn span:nth-of-type(3) {
		top: calc(50% + 5px);
	}
	
	/* Changing the hamburger icon when the menu is open */
	.menu-btn.active span:nth-of-type(1) {
	  display: none;
	}
	.menu-btn.active span:nth-of-type(2) {
	  top: 50%;
	  transform: translate(-50%, 0%) rotate(45deg);  
	}
	.menu-btn.active span:nth-of-type(3) {
	  top: 50%;
	  transform: translate(-50%, 0%) rotate(-45deg); 
	}
	
	/* Menu that will appear */
	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
	  background: #FFEFBA;
		transform: translateX(-100%);
		transition: transform 0.5s; 
	}
	
	.menu.active {
		transform: translateX(0);
	}
	
	.menu li {
		list-style-type: none;
	}

	/* hero */

	.hero {
		background-color: #55acee;
		background-image: url(./pix/22.jpg);
		background-size: cover;
		background-position: center;
		background-blend-mode: normal;
		color: white;
		padding-top: 100px;
		padding-bottom: 100px;

	}
	.hero-container{
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 1rem;
		padding-right: 1rem;
	}
