
{{ $data := dict }}
{{ $path := "https://script.google.com/macros/s/AKfycbxv7q9tbaHW6_TR_TGYRAOogvpiKyscu1HQ2zYI7RZrIO13R4YGxfKPlhVYmUBYCtojFA/exec?guid=1gXHeXxIOQ3l3wA5dbL8uRpTNhwNbfKK4CPrKbtEMNWs&range=EXEN&type=tsv" }}

{{- $rows := "" -}}
{{- $filename := .Get 0 -}}
{{- with resources.GetRemote $path -}}
    {{- $options := dict "delimiter" "	" -}}
    {{- $rows = .Content | transform.Unmarshal $options -}}
    {{- $headerRow := index $rows 0 -}}
    {{- $dataRows := after 1 $rows -}}

<table class="center">
    <thead>
      <tr>
      <th>name</th>
      <th>date</th>
	  <th>langue</th>
      </tr>
    </thead>
    <tbody>
        {{ range $dataRows  }}
      <tr>
        <td>{{ index . 1}}</td>
        <td>{{ index . 2 }}</td>
		    <td>{{ index . 3 }}</td>
      </tr>
    {{ end }}
    </tbody>
  </table>

  {{- else -}}
    {{ errorf "Unable to get the page resource: %q" $filename }}
    <p>CSV file not found: {{ $filename }}</p>
{{- end -}}