<table>
    <thead>
      <tr>
      <th>name</th>
      <th>date</th>
	  <th>langue</th>
      </tr>
    </thead>
    <tbody>
    
    {{ $url := "https://script.google.com/macros/s/AKfycbx5p6lGi3tN9wwrbH9EL1axfNB8qlaCVdbJC5Yubytqbz0qE9qj/exec?id=1m3qFWYQD_kE5gstB4-XaLR414CejBJL6fw5lXK9M1Lk&range=EXEN&type=tsv" }}

   
    {{ $sep := "\t" }}
    {{ range  $i, $r := getCSV $sep $url }}
    {{ if ge $i 1 }}
      <tr>
        <td>{{ index $r 1 }}</td>
        <td>{{ index $r 2 }}</td>
		    <td>{{ index $r 3 }}</td>
      </tr>
    {{ end }}
    {{ end }}
    </tbody>
  </table>